



html{
    background-color: rgb(0, 51, 204);
    background-color: hsl(225, 100%, 40%);
}

section article{
    display: block;
    width: 500px;
    background-color: rgb(128, 223, 225);
    background-color: hsl(195, 100%, 75%);
}

article img{
    height: 200px ;
    widows: 200px; ;
}